<ion-view title="Electrónica III" id="page34" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="electrNicaIII-list54">
      <ion-item class="item-icon-right dark" id="electrNicaIII-list-item206">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrNicaIII-list-item207">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrNicaIII-list-item208">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="electrNicaIII-list55">
      <ion-item class="item-icon-right dark" id="electrNicaIII-list-item209">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrNicaIII-list-item210">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrNicaIII-list-item211">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>