<ion-view title="Electrónica I" id="page24" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="electrNicaI-list34">
      <ion-item class="item-icon-right dark" id="electrNicaI-list-item146">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrNicaI-list-item147">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrNicaI-list-item148">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="electrNicaI-list35">
      <ion-item class="item-icon-right dark" id="electrNicaI-list-item149">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrNicaI-list-item150">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electrNicaI-list-item151">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>