<ion-view title="Física" id="page14" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="fSica-list12">
      <ion-item class="item-icon-right dark" id="fSica-list-item78">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSica-list-item79">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSica-list-item80">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="fSica-list13">
      <ion-item class="item-icon-right dark" id="fSica-list-item81">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSica-list-item82">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSica-list-item83">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>