<ion-view title="Informática Aplicada" id="page20" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="informTicaAplicada-list26">
      <ion-item class="item-icon-right dark" id="informTicaAplicada-list-item122">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="informTicaAplicada-list-item123">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="informTicaAplicada-list-item124">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="informTicaAplicada-list27">
      <ion-item class="item-icon-right dark" id="informTicaAplicada-list-item125">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="informTicaAplicada-list-item126">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="informTicaAplicada-list-item127">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>