<ion-view title="Ingles" id="page19" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="ingles-list24">
      <ion-item class="item-icon-right dark" id="ingles-list-item116">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="ingles-list-item117">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="ingles-list-item118">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="ingles-list25">
      <ion-item class="item-icon-right dark" id="ingles-list-item119">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="ingles-list-item120">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="ingles-list-item121">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>