<ion-view title="Instalaciones Eléctricas III" id="page28" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="instalacionesElCtricasIII-list42">
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasIII-list-item170">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasIII-list-item171">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasIII-list-item172">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="instalacionesElCtricasIII-list43">
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasIII-list-item173">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasIII-list-item174">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasIII-list-item175">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>