<ion-view title="Instalaciones Eléctricas II" id="page22" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="instalacionesElCtricasII-list30">
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasII-list-item134">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasII-list-item135">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasII-list-item136">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="instalacionesElCtricasII-list31">
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasII-list-item137">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasII-list-item138">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesElCtricasII-list-item139">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>