<ion-view title="Instalaciones de Corrientes Débiles" id="page33" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="instalacionesDeCorrientesDBiles-list52">
      <ion-item class="item-icon-right dark" id="instalacionesDeCorrientesDBiles-list-item200">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesDeCorrientesDBiles-list-item201">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesDeCorrientesDBiles-list-item202">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="instalacionesDeCorrientesDBiles-list53">
      <ion-item class="item-icon-right dark" id="instalacionesDeCorrientesDBiles-list-item203">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesDeCorrientesDBiles-list-item204">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="instalacionesDeCorrientesDBiles-list-item205">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>