<ion-view title="Matemática" id="page13" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="matemTica-list14">
      <ion-item class="item-icon-right dark" id="matemTica-list-item84">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="matemTica-list-item85">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="matemTica-list-item86">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="matemTica-list15">
      <ion-item class="item-icon-right dark" id="matemTica-list-item87">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="matemTica-list-item88">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="matemTica-list-item89">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>