<ion-view title="Matemática Aplicada" id="page15" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="matemTicaAplicada-list16">
      <ion-item class="item-icon-right dark" id="matemTicaAplicada-list-item92">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="matemTicaAplicada-list-item93">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="matemTicaAplicada-list-item94">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="matemTicaAplicada-list17">
      <ion-item class="item-icon-right dark" id="matemTicaAplicada-list-item95">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="matemTicaAplicada-list-item96">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="matemTicaAplicada-list-item97">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>