<ion-view title="Sensores y Automatismo" id="page30" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="sensoresYAutomatismo-list46">
      <ion-item class="item-icon-right dark" id="sensoresYAutomatismo-list-item182">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sensoresYAutomatismo-list-item183">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sensoresYAutomatismo-list-item184">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="sensoresYAutomatismo-list47">
      <ion-item class="item-icon-right dark" id="sensoresYAutomatismo-list-item185">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sensoresYAutomatismo-list-item186">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sensoresYAutomatismo-list-item187">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>