<ion-view title="Sistemas Digitales" id="page35" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="sistemasDigitales-list56">
      <ion-item class="item-icon-right dark" id="sistemasDigitales-list-item212">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasDigitales-list-item213">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasDigitales-list-item214">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="sistemasDigitales-list57">
      <ion-item class="item-icon-right dark" id="sistemasDigitales-list-item215">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasDigitales-list-item216">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasDigitales-list-item217">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>