<ion-view title="Taller de Electricidad" id="page18" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="tallerDeElectricidad-list22">
      <ion-item class="item-icon-right dark" id="tallerDeElectricidad-list-item110">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeElectricidad-list-item111">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeElectricidad-list-item112">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="tallerDeElectricidad-list23">
      <ion-item class="item-icon-right dark" id="tallerDeElectricidad-list-item113">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeElectricidad-list-item114">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeElectricidad-list-item115">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>