<ion-view title="Taller de Empresa Tecnológica" id="page32" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="tallerDeEmpresaTecnolGica-list50">
      <ion-item class="item-icon-right dark" id="tallerDeEmpresaTecnolGica-list-item194">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeEmpresaTecnolGica-list-item195">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeEmpresaTecnolGica-list-item196">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="tallerDeEmpresaTecnolGica-list51">
      <ion-item class="item-icon-right dark" id="tallerDeEmpresaTecnolGica-list-item197">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeEmpresaTecnolGica-list-item198">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeEmpresaTecnolGica-list-item199">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>