<ion-view title="Taller de Electrónica Aplicada" id="page26" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="tallerDeElectrNicaAplicada-list38">
      <ion-item class="item-icon-right dark" id="tallerDeElectrNicaAplicada-list-item158">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeElectrNicaAplicada-list-item159">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeElectrNicaAplicada-list-item160">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="tallerDeElectrNicaAplicada-list39">
      <ion-item class="item-icon-right dark" id="tallerDeElectrNicaAplicada-list-item161">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeElectrNicaAplicada-list-item162">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="tallerDeElectrNicaAplicada-list-item163">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>