<ion-view title="Trabajo Final" id="page36" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="trabajoFinal-list58">
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item218">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item219">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item220">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="trabajoFinal-list59">
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item221">Item 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item222">Item 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="trabajoFinal-list-item223">Item 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>